{% extends "layout.html.twig" %}

{% block content %}
    <form action="{{ path('login_check') }}" method="post">
        {{ error }} <br>
        Username: <input type="text" name="_username" value="{{ last_username }}" /><br>
        Password: <input type="password" name="_password" value="" /><br>

        <img src="{{ path('gregwar.captcha') }}" />
        <br>
        <input type="text" name="_captcha">

        <br>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
        <input type="submit" />
    </form>
{% endblock %}
